[submodule "tools/sdl3-build/SDL"]
	path = tools/sdl3-build/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "tools/sdl3-build/SDL_mixer"]
	path = tools/sdl3-build/SDL_mixer
	url = https://github.com/libsdl-org/SDL_mixer.git
[submodule "tools/sdl3-build/SDL_ttf"]
	path = tools/sdl3-build/SDL_ttf
	url = https://github.com/libsdl-org/SDL_ttf.git
[submodule "tools/sdl3-build/SDL_net"]
	path = tools/sdl3-build/SDL_net
	url = https://github.com/libsdl-org/SDL_net.git
[submodule "tools/sdl3-build/SDL_image"]
	path = tools/sdl3-build/SDL_image
	url = https://github.com/libsdl-org/SDL_image.git
