@page "/spritefont"
@using Microsoft.AspNetCore.Components.Forms

<div style="width:100%; height:100%; margin:0; padding:0; justify-content: center; align-items: center; display: flex;">
    <iframe src="https://snowb.org/"
            style="width:1400px; height:900px !important; border:none; display: block;"
            title="Snowb"></iframe>
</div>

<MudText Class="py-5" Style="text-align: center;">
    Using <MudLink Href="https://snowb.org/">Bitmap Font Generator Online</MudLink> by SnowB
</MudText>
